.fa-solid.fa-cart-arrow-down.fa-2xl{
    color: rgb(146, 43, 33);
    cursor: pointer;
}

.x-btn {
    color: black;
    background-color: white;
    border:none;
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
}

.add-to-cart{
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  border: none;
  font-size: 12px;
  background-color: #b03a2e;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    
}

.add-to-cart:hover {
  box-shadow: 0 0 0 5px #2195f360;
  background-color: grey;
  color: white
}

.dot {
  position: absolute;
  top: -15px;
  right: -7px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  color:white;
  text-align: center;
  
}

.cart-icon{
    position: relative;
}

@media all and (max-width:640px){
    .dot{
        position: relative;
        top:-15px;
        right: 20px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        color:white;
        text-align: center;
    }
}

.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45); 
  transition: opacity .25s ease, visibility .25s ease;
  z-index: 2000;
  visibility: hidden;
  
}

.overlay.active{
  opacity: 1;
  visibility: visible;
}

.cartTab{
  width:400px;
  background-color:white;
  color:black;
  position:fixed;
  flex-direction:column ;
  top:0;
  right:-100%;
  bottom:0;
  z-index:2001;
  padding:40px;
  display:flex;
  grid-template-rows:auto auto auto auto 1fr auto;
  border:1px solid black;
  border-top-left-radius:10%;
  box-shadow:-5px 0 80px rgb(255,255,255,0.65);
  overflow:hidden; 
  visibility: visible;
  transition: 0.5s;
}

@media all and (max-width:640px){
    .cartTab{
        width:100%;
        border-radius: 0px;
    }
}

.cartTab.active{
    right:0;
}

.cartTab::-webkit-scrollbar{
  display: none; 
}            

.listCart{
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;
    margin-top:10px;
}

.cart-box{
    display:flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap:10px;
    margin-top:0;
}
.cart-detail{
    display:grid;
    gap:8px;
    margin-right: 0;
}

.cart-product-title{
    font-size: 16px;
    line-height: 1;
    color:#922b21;
}

.cart-price{
    font-weight: 500;

}

.cart-quanity{
    display: flex;
    width:100px;
    border:1px solid #999;
    border-radius: 6px;
}

.cart-quanity button{
    background: transparent;
    width: 30px;
    border:none;
    font-size:20px;
    cursor: pointer;
}

.cart-quanity #decerment{
    color: #999;
}
.cart-quanity .number{
    display:flex;
    align-items:center;
    justify-content: center;
    width:40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}

.cart-remove{
    font-size:25px;
    cursor: pointer;
    margin-right: auto;
}

.cart-remove:hover{
    color:red;
}

.title{
    padding: 20px;
    margin: 0;
    font-weight:300;
    font-weight: bold;
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 0px

}

.empty-message{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;
    align-self: center;
    padding:10px;
    font-size:20px;
    display:none;
}

 



.cartTab .cart-btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 -40px -40px;
  margin-top: auto;
}

.cartTab .cart-btn button{
  border: none;
  padding: 14px 0;
}


.cartTab .cart-btn .clear{
    background-color: white;
    font-family: Poppins;
    font-weight: 500px;
    cursor: pointer;
    color: black;
    background-color: rgb(183, 119, 119);
}

.cartTab .cart-btn .Checkout{
    background: linear-gradient(135deg, #b03a2e, #922b21);
    color:white;
    font-family: Poppins;
    font-weight: 500px;
    cursor: pointer;
    
}

.cartTab .cart-btn .Checkout:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 18px rgba(0,0,0,.2);
    filter: brightness(1.06);
    color:black;
    
}

.cartTab .cart-btn .clear:hover{
    
   box-shadow: 0 0 0 5px #2195f360;
   background-color: rgb(95, 47, 47);
   color: white
    
}

.total{
    text-align: right;
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
    color:black;
    position: relative;

}

.total::before{
  content: "";
  position: absolute;
  left: -40px;                  
  right: -40px;                
  top: -20px;                  
  height: 3px;
  background: black;
}





